@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

@mixin buttonHover {
    cursor: pointer;
    background-color: hsl(172, 76%, 53%);
    color: $dark;
}

@mixin inputButton{
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 24px;
}

@mixin breakpoint($device) {
    @if $device == desktop {
        @media (min-width: 500px){
            @content
        }
    }
}